*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth; /* Para un desplazamiento suave */
}

/* Estilos para el scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio entre la barra y el track */
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra al pasar el ratón */
}

/* Estilos para eliminar las flechitas */
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  display: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    padding: 0 10px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    justify-content: center; /* Centra horizontalmente */
    gap: 10px; /* Espacio entre las columnas */
  }

  .footer-container {
    max-width: 1300px;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1D3C80;
    padding: 20px;
}

  .footer-container p{
    font-family: Lato;
    font-weight: 400;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
  }

  .map-container {
    width: 100%;
    height: 600px;
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre las columnas */
  }

  .header {
    text-align: center;
    margin-bottom: 20px;
    max-width: 1300px;
  }

  .header img {
    max-width: 100%;
    height: auto; 
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.2rem;
    color: #666;
  }

  h2 {
    margin-top: 0px;
    font-size: 30px;
    align-self: left;
    text-align: left;
    color:#F0AF43;
    padding-left: 0%;
    font-weight: 800;
    font-family: Lato;
    margin-bottom: 10px;
  }

  p{
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #656565;
  }
  
  .button-container{
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: center;
    gap: 25px;
  }

  .button-container button {
    font-family: "Lato", sans-serif;
    padding: 10px 15px;
    background-color: #EBEBEB;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: 0px;
  }
  
  .button-container button:hover {
    background-color: #a1a1a1;
  }

  .button-container button.active {
    background-color: #F39E46;
    color: black;
  }

/* Media Queries para diferentes tamaños de pantalla */

@media (max-width: 1150px) {
  .content-container {
    flex-direction: column;
  }

  .map-container {
    height: 400px; /* Ajuste la altura del mapa en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .map-container {
    height: 300px; /* Ajuste adicional en pantallas pequeñas */
  }

  .header p {
    font-size: 1rem;
  }

  .footer-container {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente del footer en pantallas pequeñas */
  }

  .button-container {
    gap: 10px; /* Añade espacio entre los botones en columna */
  }

}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem; /* Ajusta el tamaño del título en pantallas muy pequeñas */
  }

  .map-container {
    height: 200px; /* Ajuste final para pantallas extra pequeñas */
  }

  .footer-container {
    font-size: 0.8rem; /* Ajuste adicional para el footer */
  }

  .button-container {
    gap: 5px; /* Añade espacio entre los botones en columna */
  }

  .button-container button {
    width: 100%; /* Asegura que los botones ocupen todo el ancho en pantallas pequeñas */
  }
}
