*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth; /* Para un desplazamiento suave */
}

/* Estilos para el scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio entre la barra y el track */
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra al pasar el ratón */
}

/* Estilos para eliminar las flechitas */
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  display: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }
  
  .content-container {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre las columnas */
  }

  .map-container {
    width: 100%;
    height: 600px;
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre las columnas */
  }

  .header {
    text-align: center;
    margin-bottom: 20px;
    max-width: 1300px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .column-left {
    flex: 1;
    padding: 10px; /* Ajuste el espaciado derecho según necesidad */
    max-width: 650px;    
  }

  .column-left .button-container{
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
    gap: 5px;
  }
  
  .column-right {
    flex:2;
    padding: 10px;
    max-width: 650px;  
  }

  .button-container button {
    font-family: "Lato", sans-serif;
    padding: 10px 15px;
    background-color: #EBEBEB;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    border: none;
  }
  
  .button-container button:hover {
    background-color: #a1a1a1;
  }

  .button-container button.active {
    background-color: #F39E46;
    color: black;
  }