  .ethnic-info-display {
    width: 100%;
    background-color: #ffffff;
    opacity: 0.87;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  
  .ethnic-info-display p {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .ethnic-info-display .button-container-EID {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-container-EID button {
    font-family: "Lato", sans-serif;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #F0AF43;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .button-container-EID button:hover {
    background-color: #bd7c36;
  }

  .copy-message-container {
    display: flex;
    align-items: center;
  }
  
  .copy-message {
    margin-right: 10px;
    color: #91AD2E;
    font-size: 0.9rem;
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeOut {
    50%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }