.ethnic-selector-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    width: 60%; /* Ajusta el ancho según sea necesario */
  }
  
  .ethnic-selector-label {
    margin-bottom: 5px;
    font-weight: 800;
    font-family: Lato;
    font-size: 30px;
    padding-right: 10px;
    color: #F0AF43;
    width: 330px;
  }

  .ethnic-selector-dropdown {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    width: 50%;
    padding-top: 20px;
    padding: 5px;
    border-radius: 20px;
    border: 3px solid #91AD2E;
    color: #91AD2E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


  @media (max-width: 1150px) {
    .ethnic-selector-container {
      width: 100%; 
    }
  }

  @media (max-width: 768px) {
    .ethnic-selector-container {
      margin: 10px;
      width: 100%; 
      flex-direction: column;
    }

    .ethnic-selector-label {
      margin-bottom: 10px;
    }

    .ethnic-selector-dropdown {
      width: 100%; 
    }
  }