*, *::before, *::after {
  box-sizing: border-box;
}
  .language-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #F39E46;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    text-align: left;
    height: 550px;
  }
  
  .language-names h2 {
    color: #F39E46;
    font-size: 1.5rem;
    align-self: center;
  }
  
  .language-names .table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Permite el scroll vertical */
    padding-right: 10px;
  }

    /* Estilos para el scrollbar */
  .language-names .table::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
  }

  .language-names .table::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo del track */
    border-radius: 10px; /* Bordes redondeados */
  }

  .language-names .table::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra del scrollbar */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid #f1f1f1; /* Espacio entre la barra y el track */
  }

  .language-names .table::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra al pasar el ratón */
  }

  /* Estilos para eliminar las flechitas */
  .language-names .table::-webkit-scrollbar-button {
    display: none;
  }

  .language-names .row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }
  
  .language-names .title {
    font-weight: bold;
    width: 30%;
    text-align: justify;
  }
  
  .language-names .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
